<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819291624437-se2s3ssoebep6ps4ustfmpjvglkl8jco.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819291624437-se2s3ssoebep6ps4ustfmpjvglkl8jco</string>
	<key>API_KEY</key>
	<string>AIzaSyC3JAc-252RsBJ9rtfRzRbluE298KRC1JA</string>
	<key>GCM_SENDER_ID</key>
	<string>819291624437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.guilherme.etecfood</string>
	<key>PROJECT_ID</key>
	<string>etecfood-etf</string>
	<key>STORAGE_BUCKET</key>
	<string>etecfood-etf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819291624437:ios:09547e0bf4fa61fc0846bc</string>
</dict>
</plist>